
node_modules/
/jspm_packages/


.idea/
.vscode/
*.swp
.DS_Store


npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.npm/
.eslintcache


.env
.env.development.local
.env.test.local
.env.production.local
.env.local